{{#partial "content"}}
        <style>
    body {

 background-image:url("https://blog.hdwallsource.com/wp-content/uploads/2016/02/solid-color-wallpaper-21965-22518-hd-wallpapers.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
    }
    table, th, td {
  border: 1px solid black;
}
   </style>
        <h3>Departments List</h3>
        <table style="width:100%">
            <tr>
                <th>Names</th>
                <th>Description</th>
                <th>Number of Employees</th>
            </tr>
        {{if departments}}
        {{#each departments }}
            <tr>
                    <td>{{name}}</td>
                    <td>{{info}}</td>
                <td>{{empnumber}} <a href="/departments/delete"><button class="btn btn-danger">Delete</button></a> </td>
                </tr>

        {{/each}}
    {{else}}
    </table>
    {{/partial}}
    {{>layout.hbs}}
